/* CreateProduct.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set height to viewport height */
  width: 50%; /* Set width to viewport width */
  background-color: #f9f9f9;
}

.form-container {
  background-color: #fff;
  padding: 1.5rem; /* Smaller padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Set maximum width to 100% */
  width: 90%; /* Adjust width as needed */
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem; /* Increased margin for better spacing */
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 1rem; /* Smaller margin */
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem; /* Smaller margin */
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 0.5rem; /* Smaller padding */
  border: 1px solid #ccc;
  border-radius: 6px; /* Smaller border radius */
  font-size: 0.9rem; /* Smaller font size */
}

textarea {
  resize: vertical;
}

button {
  padding: 0.5rem 1rem; /* Smaller padding */
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: #fff;
  font-size: 0.9rem; /* Smaller font size */
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error,
.success-message {
  text-align: center;
  margin-top: 1rem; /* Smaller margin */
}

.error {
  color: red;
}

.success-message {
  color: green;
}
